<div class="row">
    <div class="col-6 offset-3">
        <h1>There's nothing here</h1>
        <hr />
        <a class="btn btn-success" asp-action="Index" asp-controller="Movies">Main Page</a>
        <a class="btn btn-secondary float-end" href="https://youtu.be/dQw4w9WgXcQ">Go to nothing anyway</a>
    </div>  
</div>